#container {
    background-color:  #7BAFD4;
}

#dropdownMenu
{
   background-color:  #7BAFD4;
}

#imgmenu
{
    height: 30px;
}

#image {
    height: 300px;
}

#imgsocial {
    height: 30px;
    text-align: left;
}

#list{
    background-color: 7BAFD4;
    text-align: left;
}

